:root {
  /* Primary Colours */
  --intro-background-colour: hsl(217, 28%, 15%);
  --main-background-colour: hsl(218, 28%, 13%);
  --footer-background-colour: hsl(216, 53%, 9%);
  --testimonial-background-colour: hsl(219, 30%, 18%);

  /* Accent Colours */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);

  /* Neural Colours */
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-background-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.intro {
  background-color: var(--intro-background-colour);
  text-align: center;
}

header {
  font-family: "Raleway", sans-serif;
  background-color: var(--intro-background-colour);
  padding: 4rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  margin-left: 3.6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-curve {
  display: none;
}

.call-to-action {
  text-align: center;
}

.call-to-action h1 {
  font-size: 2.5rem;
  line-height: 4rem;
  padding: 4rem 0 2rem;
}

.cta-background {
  background: no-repeat bottom url("../images/bg-curvy-desktop.svg")
    var(--intro-background-colour);
  background-size: 100%;
}

.cta-content {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 12.2rem;
}

.cta-text {
  font-size: 20px;
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 2.3rem;
}

.btn {
  background: linear-gradient(0.25turn, var(--cyan), var(--blue));
  border: none;
  font-size: 14px;
  border-radius: 50px;
}

.cta-btn {
  padding: 1.2rem 6rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8rem;
  grid-row-gap: 5.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}

.feature-item p {
  font-size: 14px;
}

.content {
  display: flex;
  padding: 7rem 6.4rem 9rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.content img {
  flex-shrink: 0;
}

.about {
  max-width: 555px;
}

.content h1 {
  font-size: 2.5rem;
  padding-bottom: 1.3rem;
  max-width: 30rem;
}

.content p {
  padding-bottom: 1.2rem;
}

.content a {
  color: var(--cyan);
  border-bottom: var(--cyan) 1px solid;
  text-decoration: none;
  padding-bottom: 0.225rem;
}

.inline-icon {
  display: inline-flex;
  align-self: center;
}

.inline-icon img {
  fill: currentColor;
}

.inline-icon.baseline img {
  top: 0.225em;
  position: relative;
}

.testimonials {
  background: no-repeat url("../images/bg-quotes.png") top left;
  margin: 0 8.8rem 0 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-bottom: 5.5rem;
}

.card-shadow {
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.2);
}

.card {
  background-color: var(--testimonial-background-colour);
  padding: 1.875rem 1.875rem 1.3rem;
  border-radius: 5px;
}

.card p {
  padding: 0.75rem 0 1.5rem 0;
  font-size: 14px;
}

.profile-pic {
  border-radius: 50%;
  width: 1.5rem;
}

.profile-info {
  display: inline-block;
}

.profile-info h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
}

.profile-info h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: normal;
}

.submit-email {
  background-color: var(--intro-background-colour);
  max-width: 54rem;
  margin: 0 auto;
  text-align: center;
  padding: 3.2rem 4.5rem 2.5rem 4.5rem;
  border-radius: 10px;
  position: relative;
  top: 7rem;
}

.submit-email h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.submit-email p {
  font-size: 14px;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-field {
  display: flex;
}

.form-field input {
  width: 100%;
  outline: transparent;
  border: transparent;
  padding: 0.975rem 1rem 0.975rem 1rem;
  border-radius: 40px;
  color: #000;
}

.form-field input::placeholder {
  color: gray;
}

.submit {
  width: 17.5rem;
  margin-left: 1.875rem;
}

footer {
  background-color: var(--footer-background-colour);
  padding: 12.5rem 5rem 6rem 7rem;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding-bottom: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: auto repeat(6, 1fr);
  grid-template-rows: auto 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-container .inline-icon {
  display: inline-flex;
  grid-column: 1;
  align-self: baseline;
  padding-right: 1.75rem;
}

.footer-container .logo {
  padding-bottom: 2rem;
  grid-column: 1/8;
}

.location {
  grid-column: 2/4;
  padding-right: 2rem;
}

.column {
  justify-self: end;
}

.contact {
  font-size: 14px;
}

.links-2 {
  padding-right: 1rem;
}

.social-icons a {
  border: 1px solid;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1.775rem;
  text-align: center;
  display: inline-block;
  margin-left: 0.75rem;
  outline: transparent;
  font-size: 0.9rem;
}

/* Phones */

@media screen and (max-width: 599px) {
  header {
    padding: 1.5rem 1.25rem 3.5rem;
  }

  nav a {
    margin-left: 1.5rem;
    font-size: 12px;
  }
  .logo {
    max-width: 5rem;
  }

  .splash-img {
    width: 100%;
    padding: 0 2.25rem;
    z-index: 2;
    position: relative;
  }

  .cta-background {
    background: none;
  }

  .mobile-curve {
    display: block;
    margin-top: -3rem;
  }

  .mobile-curve img {
    width: 100%;
    display: block;
  }

  .call-to-action h1 {
    font-size: 1.5rem;
    line-height: 2.3rem;
    padding: 1.5rem 1.25rem 1rem;
  }

  .cta-content {
    margin-top: -6rem;
    padding-bottom: 8rem;
  }

  .cta-text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 2.25rem 2.25rem;
  }

  .cta-btn {
    padding: 1rem 5rem;
  }

  .features {
    display: block;
    padding: 1rem 2rem 3rem;
  }

  .feature-item {
    padding-bottom: 5.5rem;
  }

  .feature-item img {
    max-width: 4.1rem;
    max-height: 4.2rem;
  }
}
